#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 400px;
  height: 200px;
  padding-top: 40px;
  background-color: rgb(222, 192, 250);
  border: 1px solid rgb(170, 92, 243);
}

button {
  margin: 10px;
}

div {
 margin-bottom: 10px;
}